<!DOCTYPE html>
<html>

  {% include head.html %}

      <!-- begin Projects -->
      <section class="content-section">
        <header class="section-header">
          <h2>Spring Sprint 2023: Blitz (3|2), Rated</h2>
        </header>

        {% for project in site.data.projects %}
        <div class="resume-item" itemscope itemtype="">
          <meta itemprop="creator" content="{{ site.resume_name }}" itemtype=""/>
          <h3 class="resume-item-title" itemprop="name">{% if project.url %}<a href="{{ project.url }}" itemprop="url">{{ project.project }}</a>{% else %}{{ project.project }}{% endif %}</h3>
          <h4 class="resume-item-details" itemprop="description">{{ project.role }}  &bull; {{ project.duration }}</h4>
          <p class="resume-item-copy">{{ project.description }}</p>
        </div>
        {% endfor %}



    </div>

  </body>

</html>
